<h1>{{files[selectedFileIndex]?.name}}</h1>

<mat-action-list>

  <div style="float:left; padding:5px">
    <button mat-stroked-button [disabled]="files[selectedFileIndex]?.code == oldFileCodes[selectedFileIndex]" (click)="saveCode()">Save file</button>
  </div>

  <div style="float:left; padding:5px">
    <!-- "Compile" button -->
    <button mat-stroked-button [disabled]="!(isSavePressed[selectedFileIndex] &&
                                      oldFileCodes[selectedFileIndex] == files[selectedFileIndex].code)"
            (click)="compileCode()">
      Compile
    </button>

  </div>

</mat-action-list>

<div style="height: 700px;">
  <as-split direction="vertical">
    <as-split-area [size]="80">
      <ngx-monaco-editor class="editor" *ngIf="files.length > 0" [options]="editorOptions" [(ngModel)]="files[selectedFileIndex].code"></ngx-monaco-editor>
    </as-split-area>
    <as-split-area [size]="20">
      <p>Output: {{codeOutput[selectedFileIndex]}}</p>
    </as-split-area>
  </as-split>
</div>


